.Cell {
    width: 150px;
    height: 150px;
    font-size: 20px;

    &_Bottom {
        border-bottom: 3px solid white;
    }

    &_Side {
        border-right: 3px solid white;
    }
    &_Small {
        font-size: 8px;
    }
}
